In [1]:
import pandas as pd
#import matplotlib.pyplot as plt
import numpy as np
import os
from numpy import genfromtxt
import sqlalchemy as db

from sqlalchemy import create_engine , MetaData,Table,Integer,Column,String,delete
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy_utils import database_exists, create_database

In [2]:
def Load_Data(file_name):
    data = genfromtxt(file_name, delimiter=',', skip_header=1)
    return data.tolist()
Base = declarative_base()

In [3]:
class Train_data(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'Train_data'
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    id = Column(Integer, primary_key=True, nullable=False) 
    X = Column(Integer)
    Y1 = Column(Integer)
    Y2 = Column(Integer)
    Y3 = Column(Integer)
    
    Y4 = Column(Integer)

class Test_data(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'Test_data'
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    id = Column(Integer, primary_key=True, nullable=False) 
    X = Column(Integer)
    Y = Column(Integer)

class Test_Table(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'Test_Table'
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    id = Column(Integer, primary_key=True, nullable=False) 
    X = Column(Integer)
    Y = Column(Integer)
    y_Dev=Column(Integer)
    y_No=Column(Integer)

class Ideal_data(Base):
    #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
    __tablename__ = 'Ideal_data'
    __table_args__ = {'sqlite_autoincrement': True}
    #tell SQLAlchemy the name of column and its attributes:
    id = Column(Integer, primary_key=True, nullable=False) 
    X = Column(Integer)
    Y1 = Column(Integer)
    Y2 = Column(Integer)
    Y3 = Column(Integer)
    Y4 = Column(Integer)   
    Y5 = Column(Integer)
    Y6 = Column(Integer)
    Y7 = Column(Integer)
    Y8 = Column(Integer)  
    Y9 = Column(Integer)
    Y10 = Column(Integer)
    Y11 = Column(Integer)
    Y12 = Column(Integer)   
    Y13 = Column(Integer)
    Y14 = Column(Integer)
    Y15 = Column(Integer)
    Y16 = Column(Integer) 
    Y17 = Column(Integer)
    Y18 = Column(Integer)
    Y19 = Column(Integer)
    Y20 = Column(Integer)   
    Y21 = Column(Integer)
    Y22 = Column(Integer)
    Y23 = Column(Integer)
    Y24 = Column(Integer) 
    Y25 = Column(Integer)
    Y26 = Column(Integer)
    Y27 = Column(Integer)   
    Y28 = Column(Integer)
    Y29 = Column(Integer)
    Y30 = Column(Integer)
    Y31 = Column(Integer) 
    Y32 = Column(Integer)
    Y33 = Column(Integer)
    Y34 = Column(Integer)
    Y35 = Column(Integer)   
    Y36 = Column(Integer)
    Y37 = Column(Integer)
    Y38 = Column(Integer)
    Y39 = Column(Integer) 
    Y40 = Column(Integer)
    Y41 = Column(Integer)
    Y42 = Column(Integer)   
    Y43 = Column(Integer)
    Y44 = Column(Integer)
    Y45 = Column(Integer)
    Y46 = Column(Integer) 
    Y47 = Column(Integer)
    Y48 = Column(Integer)
    Y49 = Column(Integer)
    Y50 = Column(Integer)

In [4]:
engine = db.create_engine('sqlite:///MyPyProject.db', echo = True)
if not database_exists(engine.url):
    create_database(engine.url)

print(database_exists(engine.url))
meta = MetaData()
Base.metadata.create_all(engine)
session = sessionmaker()
session.configure(bind=engine)
s = session()

#engine.execute('delete from "Train_data"')
#engine.execute('delete from "Test_data"')
#engine.execute('delete from "Ideal_data"')

True
2021-11-12 20:43:21,698 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-12 20:43:21,700 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Train_data")
2021-11-12 20:43:21,703 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-12 20:43:21,706 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Test_data")
2021-11-12 20:43:21,707 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-12 20:43:21,709 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Test_Table")
2021-11-12 20:43:21,711 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-12 20:43:21,713 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Ideal_data")
2021-11-12 20:43:21,715 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-12 20:43:21,718 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
# loading train dataset into Train_data table
engine.execute('delete from "Train_data"')
try:
    file_name = "E:/IUBH/Books/Python/codes/train.csv"
    data = Load_Data(file_name) 
    for i in data:
        
        record = Train_data(**{
            'X' : i[0],
            'Y1' : i[1],
            'Y2' : i[2],
            'Y3' : i[3],
            'Y4' : i[4]
        })
        s.add(record) #Add all the records

    s.commit() #Attempt to commit all the records

except:
    s.rollback() #Rollback the changes on error
finally:
    s.close()

In [ ]:
# loading the test.csv file into a Test_data table
engine.execute('delete from "Test_data"')
try:
    file_name = "E:/IUBH/Books/Python/codes/test.csv"
    data = Load_Data(file_name) 
    for i in data:
        
        record = Test_data(**{
            'X' : i[0],
            'Y' : i[1],
        })
        s.add(record) #Add all the records

    s.commit() #Attempt to commit all the records
except Exception as e:
    s.rollback() #Rollback the changes on error
    print(e)
finally:
    s.close()

In [ ]:
# loading ideal.csv file into Ideal_data table

try:
    file_name = "E:/IUBH/Books/Python/codes/ideal.csv"
    data = Load_Data(file_name) 
    for i in data:
        
        record = Ideal_data(**{
            'X' : i[0],
            'Y1' : i[1],
            'Y2' : i[2],
            'Y3' : i[3],
            'Y4' : i[4],
            'Y5' : i[5],
            'Y6' : i[6],
            'Y7' : i[7],
            'Y8' : i[8],
            'Y9' : i[9],
            'Y10' : i[10],
            'Y11' : i[11],
            'Y12' : i[12],
            'Y13' : i[13],
            'Y14' : i[14],
            'Y15' : i[15],
            'Y16' : i[16],
            'Y17' : i[17],
            'Y18' : i[18],
            'Y19' : i[19],
            'Y20' : i[20],
            'Y21' : i[21],
            'Y22' : i[22],
            'Y23' : i[23],
            'Y24' : i[24],
            'Y25' : i[25],
            'Y26' : i[26],
            'Y27' : i[27],
            'Y28' : i[28],
            'Y29' : i[29],
            'Y30' : i[30],
            'Y31' : i[31],
            'Y32' : i[32],
            'Y33' : i[33],
            'Y34' : i[34],
            'Y35' : i[35],
            'Y36' : i[36],
            'Y37' : i[37],
            'Y38' : i[38],
            'Y39' : i[39],
            'Y40' : i[40],
            'Y41' : i[41],
            'Y42' : i[42],
            'Y43' : i[43],
            'Y44' : i[44],
            'Y45' : i[45],
            'Y46' : i[46],
            'Y47' : i[47],
            'Y48' : i[48],
            'Y49' : i[49],
            'Y50' : i[50],
        })
        s.add(record) #Add all the records

    s.commit() #Attempt to commit all the records
except Exception as e:
    s.rollback() #Rollback the changes on error
    print(e)
finally:
    s.close()

In [13]:
Train_result = engine.execute('SELECT * FROM Train_data')
Train_df=pd.DataFrame.from_records(Train_result,columns=["id","X","Y1","Y2","Y3","Y4"])

Train_df=Train_df[["X","Y1","Y2","Y3","Y4"]]

2021-11-12 20:46:49,435 INFO sqlalchemy.engine.Engine SELECT * FROM Train_data
2021-11-12 20:46:49,436 INFO sqlalchemy.engine.Engine [raw sql] ()

In [9]:
Test_result = engine.execute('SELECT * FROM Test_data')
Test_df=pd.DataFrame.from_records(Test_result,columns=["id","X","Y"])

Test_df=Test_df[["X","Y"]]

2021-11-12 20:45:18,526 INFO sqlalchemy.engine.Engine SELECT * FROM Test_data
2021-11-12 20:45:18,528 INFO sqlalchemy.engine.Engine [raw sql] ()

In [ ]:
Test_df

In [ ]:
Train_df

In [15]:
Ideal_result = engine.execute('SELECT * FROM Ideal_data')
Ideal_df=pd.DataFrame.from_records(Ideal_result,columns=["id","X","Y1","Y2","Y3","Y4","Y5","Y6","Y7","Y8","Y9","Y10","Y11","Y12",
"Y13","Y14","Y15","Y16","Y17","Y18","Y19","Y20","Y21","Y22","Y23","Y24","Y25","Y26","Y27","Y28","Y29","Y30","Y31","Y32",
"Y33","Y34","Y35","Y36","Y37","Y38","Y39","Y40","Y41","Y42","Y43","Y44","Y45","Y46","Y47","Y48","Y49","Y50"])

Ideal_df=Ideal_df[["X","Y1","Y2","Y3","Y4","Y5","Y6","Y7","Y8","Y9","Y10","Y11","Y12",
"Y13","Y14","Y15","Y16","Y17","Y18","Y19","Y20","Y21","Y22","Y23","Y24","Y25","Y26","Y27","Y28","Y29","Y30","Y31","Y32",
"Y33","Y34","Y35","Y36","Y37","Y38","Y39","Y40","Y41","Y42","Y43","Y44","Y45","Y46","Y47","Y48","Y49","Y50"]]

2021-11-12 20:47:03,057 INFO sqlalchemy.engine.Engine SELECT * FROM Ideal_data
2021-11-12 20:47:03,058 INFO sqlalchemy.engine.Engine [raw sql] ()

In [22]:
print(Ideal_result)

<sqlalchemy.engine.cursor.LegacyCursorResult object at 0x0000008662C8F3A0>

In [20]:
Ideal_df

Empty DataFrame
Columns: [X, Y1, Y2, Y3, Y4, Y5, Y6, Y7, Y8, Y9, Y10, Y11, Y12, Y13, Y14, Y15, Y16, Y17, Y18, Y19, Y20, Y21, Y22, Y23, Y24, Y25, Y26, Y27, Y28, Y29, Y30, Y31, Y32, Y33, Y34, Y35, Y36, Y37, Y38, Y39, Y40, Y41, Y42, Y43, Y44, Y45, Y46, Y47, Y48, Y49, Y50]
Index: []

[0 rows x 51 columns]

In [ ]:
'''
def load_data():
    train_df=pd.read_csv("train.csv")
    test_df=pd.read_csv("test.csv")
    ideal_df=pd.read_csv("ideal.csv")
    return train_df,test_df,ideal_df

'''

In [12]:
#train_df,test_df,ideal_df=load_data()
x=Train_df.X.values
y1=Train_df.Y1.values
y2=Train_df.Y2.values
y3=Train_df.Y3.values
y4=Train_df.Y4.values

In [ ]:
import matplotlib.pyplot as plt
plt.plot(x,y1,'r.')
plt.show()

In [ ]:
Train_df.head()

In [ ]:
result_sigma=pd.DataFrame()
for i in range(1,5):
    for j in range(1,51):
        result_sigma.loc["Y"+str(i),"Y"+str(j)]=((Train_df["Y"+str(i)]-Ideal_df["Y"+str(j)])**2).sum(axis=0)

result_sigma.head()

In [15]:
result_minimum=pd.DataFrame()
result_minimum=result_sigma.min(axis=1)
result_minimum.head()

Y1    70.092270
Y2    61.295151
Y3    72.137858
Y4    63.795680
dtype: float64

In [16]:
result_min_index=result_sigma.idxmin(axis=1)
result_min_index.head()

Y1    Y20
Y2     Y8
Y3    Y26
Y4    Y49
dtype: object

In [17]:
result_minimum.head()

Y1    70.092270
Y2    61.295151
Y3    72.137858
Y4    63.795680
dtype: float64

In [ ]:
Test_df.head()

In [ ]:
Ideal_df.head()

In [18]:
Ideal_df.loc[Ideal_df["X"]==-18.2,"Y20"]

18     231.04
418    231.04
Name: Y20, dtype: float64

In [19]:
col_list=result_min_index.values.tolist()
col_list.insert(0,"X")

In [20]:
col_list

['X', 'Y20', 'Y8', 'Y26', 'Y49']

In [21]:
new_df=Ideal_df[col_list]
new_df

        X     Y20        Y8        Y26       Y49
0   -20.0  289.00 -0.850919  -5832.000  0.912945
1   -19.9  285.61  0.168518  -5735.339  0.867644
2   -19.8  282.24  0.612391  -5639.752  0.813674
3   -19.7  278.89 -0.994669  -5545.233  0.751573
4   -19.6  275.56  0.774356  -5451.776  0.681964
..    ...     ...       ...        ...       ...
795  19.5  506.25 -0.117020   9938.375  0.605540
796  19.6  510.76  0.774356  10077.696  0.681964
797  19.7  515.29 -0.994669  10218.313  0.751573
798  19.8  519.84  0.612391  10360.232  0.813674
799  19.9  524.41  0.168518  10503.459  0.867644

[800 rows x 5 columns]

In [22]:
[X for X in col_list if X!='X']

['Y20', 'Y8', 'Y26', 'Y49']

In [23]:
col_list

['X', 'Y20', 'Y8', 'Y26', 'Y49']

In [ ]:
Test_df

## for loop

In [123]:
final_result=pd.DataFrame()
y_test=Test_df.loc[174,"Y"] #-0.24
x_test=Test_df.loc[174,"X"] #-18.2
row_4=new_df.loc[new_df["X"]==x_test,[X for X in col_list if X!="X"]]
print(row_4)
temp_1=abs(row_4-y_test)
print(temp_1)
print(temp_1.min(axis=1))
result=abs(Train_df.loc[Train_df["X"]==x_test,[X for X in Train_df.columns.tolist() if X!="X"]]-row_4.values)
    #result=result.values.tolist() 
final_result.loc[174,"X"]=x_test
final_result.loc[174,"Y"]=y_test
mask_result=(temp_1<(result.values*np.sqrt(2)))
print(x_test)
print(y_test)
#print(mask_result)
y_Dev=int(0)
n=int(0)
for col in mask_result.columns.tolist():
    #print(temp_1.iat[0,n])
    #print(col)
    if mask_result[col].values[0]:
        if y_Dev==0:
            y_Dev=temp_1.iat[0,n]
            n+=1
        else:
            if y_Dev> temp_1.iat[0,n] :
                y_Dev=temp_1.iat[0,n]
                n+=1   
    else:
        n+=1

if y_Dev==0:
    final_result.loc[174,'Delta_y']='None'
    final_result.loc[174,'Ideal_func_No']='None'
else:
    final_result.loc[174,'Delta_y']=y_Dev
    #col=mask_result.loc[mask_result['']]
    col_name=(temp_1.idxmin(axis=1))
    print(col_name)
    final_result.loc[174,'Ideal_func_No']=col_name

print(final_result)

      Y20        Y8    Y26       Y49
167  0.09 -0.994432 -2.197 -0.157746
567  0.09 -0.994432 -2.197 -0.157746
          Y20        Y8       Y26       Y49
167  0.014236  1.070196  2.272764  0.233509
567  0.014236  1.070196  2.272764  0.233509
167    0.014236
567    0.014236
dtype: float64
-3.3
0.07576369
167    Y20
567    Y20
dtype: object

ValueError: Incompatible indexer with Series

In [102]:

final_result=pd.DataFrame()
for i in range(len(Test_df)):
    y_test=Test_df.loc[i,"Y"] #-0.24
    x_test=Test_df.loc[i,"X"] #-18.2
    row_4=new_df.loc[new_df["X"]==x_test,[X for X in col_list if X!="X"]]
    temp_1=abs(row_4-y_test)
    #print(row_4)
    #print("-----------------------------")
    #print(train_df.loc[train_df["x"]==x_test,[x for x in train_df.columns.tolist() if x!="x"]])
    #print("-----------------------------")
    #print(train_df.loc[train_df["x"]==x_test,[x for x in train_df.columns.tolist() if x!="x"]]-row_4.values)
    result=abs(Train_df.loc[Train_df["X"]==x_test,[X for X in Train_df.columns.tolist() if X!="X"]]-row_4.values)
    #result=result.values.tolist() 
    final_result.loc[i,"X"]=x_test
    final_result.loc[i,"Y"]=y_test
    mask_result=(temp_1<(result.values*np.sqrt(2)))
    #print(mask_result)
    for col in mask_result.columns.tolist():
        final_result.loc[i,col]=mask_result[col].values[0]
print(final_result.loc[final_result['Y20'] & final_result['Y49']])
#print(final_result)

       X         Y   Y20     Y8    Y26   Y49
74  -3.3  0.075764  True  False  False  True
174 -3.3  0.075764  True  False  False  True

In [ ]:
print(final_result.iloc[10:30])

In [ ]:
for row in final_result.iterrows():
    x=row.X
    y=row.Y
    div=df[df.loc['y']-y]
    if row.Y20==True :

In [ ]:
sqlite_conn=engine.connect()
Ideal_df.to_sql(Test_data,sqlite_conn,if_exists='fail')

In [ ]:
ideal_df.loc[ideal_df["x"]==-18.20,"y20"]

18    231.04
Name: y20, dtype: float64

In [ ]:
engine = create_engine("postgres://localhost/mydb")
if not database_exists(engine.url):
    create_database(engine.url)

print(database_exists(engine.url))